.heading-container {
  display: flex;
  justify-content: center;
  background-color: #FFF9EE;
  height: auto;
  background-image: url("Project-Images-scissors.svg");
}

.blurb-container {
  display: flex;
  background-color: #FFE6EE;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding-left: 8em;
  padding-right: 8em;
}


.category-container {
  display: flex;
  justify-content: center;
}

.categories {
  border: 1px solid #000000;
  width: 700px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.books,
.music,
.movies,
.art,
.outdoors,
.games,
.cooking,
.decor,
.micellaneous {
  width: 20vw;
  border: 5px solid #ACE3AA; /*green category border*/
  margin: 30px;
}

a:active {
  color: #0000FF;
}
